/* Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
text-align : center;
text-color : white;
background-color :black;}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* Center Content */
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    background: white;
    width: 400px;

    text-align: center;
}

/* Image */
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Text */
.card h2 {
    margin: 15px 0 10px;
}

.card p {
    padding: 5px 20px;
    text-align: left;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}