<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
   <form action="/formApp/response">
     <h1>Login here</h1>
     <label>UserName:<input type="text" name="username"></label><br><br>
     <label>Password:<input type="text" name="password"></label><br><br>
     <label>Email:<input type="text" name="email"></label><br><br>
     <label>PhoneNo:<input type="tel" name="phoneNo"></label><br><br>
     <label>DateOfBirth:<input type="date" name="dateOfBirth"></label><br><br>
     <button type="submit">Click here</button>
   </form>
</body>
</html>