<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BioData</title>
</head>
<body>
     <h1>Bio Data</h1>
     <hr>

     <p><strong>Name:</strong>Yazhini</p>
     <p><strong>Date of Birth:</strong> 30 August 2003</p>
     <p><strong>Gender:</strong>Female</p>
     <p><strong>Qualification:</strong>B.Tech</p>
     <p><strong>Email:</strong>yazhini@gmail.com</p>
     <p><strong>Phone:</strong>7708012573</p>
     <p><strong>Address:</strong>Thanjavur,Tamil Nadu</p>

</body>
</html>